fastapi==0.135.2
uvicorn[standard]==0.42.0
websockets==16.0
requests==2.32.3
python-dotenv

faster-whisper==1.2.1
numpy==2.3.3
scipy==1.17.1
aiohttp==3.13.3

python-multipart==0.0.22

httpx==0.28.1

pymssql==2.3.13
psycopg2-binary==2.9.11